<div class="columns has-text-centered" id="blog-card">
    <div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
        <div class="image is-16by9" style="background-image: url({{post.post-image}});"></div>
    </div>
    <a href="{{post.url | absolute_url}}">
        <div class="column has-text-left-desktop has-text-left-tablet">
            <h1 class="title is-size-4-touch">{{post.title}}</h1>
            <div class="content has-text-grey">
                {{ post.content | strip_html | strip_newlines | strip | truncate: 150 | escape }}
                <hr class="has-background-grey">
                <span class="has-text-grey">Published on <span class="has-text-weight-semibold">{{ post.date | date: "%-B %d, %Y" }}</span></span> | <i class="fas fa-clock"></i> <span class="has-text-weight-semibold"> {% assign content0 = post.content %}
      {% assign content_size = content0 | size | minus: 1 %}
      {% assign pre_is_letter = false %}
      {% assign words = 0 %}
      {% for i in (0..content_size) %}
        {% assign character = content0 | slice: i %}
        {% case character %}
          {% when "0", "1", "2", "3", "4", "5", "6", "7", "8", "9" %}
            {% assign pre_is_letter = true %}
          {% when "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z" %}
            {% assign pre_is_letter = true %}
          {% when "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z" %}
            {% assign pre_is_letter = true %}
          {% when " ", "\t", "\r", "\n", "!", ".", "?", ",", "！", "。", "？", "，", "/", "、", "：", ":", "(", "（", ")", "）", "；", ";", "_", "—", "-" %}
            {% if pre_is_letter %}
              {% assign words = words | plus: 1 %}
            {% endif %}
            {% assign pre_is_letter = false %}
          {% else %}
            {% if pre_is_letter %}
              {% assign words = words | plus: 1 %}
            {% endif %}
            {% assign pre_is_letter = false %}
            {% assign words = words | plus: 1 %}
        {% endcase %}
      {% endfor %}{%- unless content.size == 0 -%}{{ words | divided_by:300 }} min{% endunless %}</span> read
            </div>
        </div>
    </a>
</div>